---
import Layout from '../layouts/Layout.astro';
import ReviewCard from '../components/ReviewCard.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

const reviews = await getCollection('reviews');
const sortedReviews = reviews.sort((a: CollectionEntry<'reviews'>, b: CollectionEntry<'reviews'>) =>
  b.data.date.getTime() - a.data.date.getTime()
);
---

<Layout title="Espresso - Latest" currentPage="latest">
  <main class="px-6 py-10 space-y-16 max-w-lg mx-auto">
    {sortedReviews.map(async (review) => {
      const { Content } = await review.render();
      return (
        <ReviewCard
          title={review.data.title}
          rating={review.data.rating}
          attributes={review.data.attributes}
          strength={review.data.strength}
          location={review.data.location}
          mapsUrl={review.data.mapsUrl}
          website={review.data.website}
          instagram={review.data.instagram}
          weather={review.data.weather}
          mood={review.data.mood}
        >
          <Content />
        </ReviewCard>
      );
    })}
  </main>
</Layout>
